<main class='m-2'>
  <h1>{{name}}</h1>
  {{#each users}}
    <div class='card my-2 p-2'>
      <div class='row'>
        <div class='col-2'>
          <span
            class='badge rounded-pill text-bg-secondary'
          >{{id}}</span>
          <h3>{{name}}</h3>
          <p>{{gender}} - {{age}}</p>
        </div>
        <div class='col-10'>

          {{#if friends}}
            <div class='card my-2'>
              <div class='card-header'>
                <h4>Friends</h4>
              </div>
              <div class='card-body'>
                {{! level 2 }}
                {{#each friends}}
                  <div class='card my-2 p-2'>
                    <div class='row'>
                      <div class='col-3'>
                        <span
                          class='badge rounded-pill text-bg-secondary'
                        >{{id}}</span>
                        <h4>{{name}}</h4>
                        <p>{{gender}} - {{age}}</p>
                      </div>
                      <div class='col-9'>

                        {{#if mutual_friends}}
                          <div class='card my-2'>
                            <div class='card-header'>
                              <h5>Friends</h5>
                            </div>
                            <div class='card-body'>
                              {{! level 3 }}
                              {{#each mutual_friends}}
                                <div class='card my-2 p-2'>
                                  <div class='row'>
                                    <div class='col-3'>
                                      <span
                                        class='badge rounded-pill text-bg-secondary'
                                      >{{id}}</span>
                                      <h6>{{name}}</h6>
                                      <p>{{gender}}
                                        -
                                        {{age}}</p>
                                    </div>
                                    <div class='col-9'>

                                      {{#if mutual_friends}}
                                        <div
                                          class='card my-2'
                                        >
                                          <div
                                            class='card-header'
                                          >
                                            <h6>Friends</h6>
                                          </div>
                                          <div
                                            class='card-body'
                                          >
                                            {{! level 4 }}
                                            {{#each
                                              mutual_friends
                                            }}
                                              <div
                                                class='card my-2 p-2'
                                              >
                                                <div
                                                  class='row'
                                                >
                                                  <div
                                                    class='col-4'
                                                  >
                                                    <span
                                                      class='badge rounded-pill text-bg-secondary'
                                                    >{{id}}</span>
                                                    <h6
                                                    >{{name}}</h6>
                                                    <p
                                                    >{{gender}}
                                                      -
                                                      {{age}}</p>
                                                  </div>
                                                  <div
                                                    class='col-9'
                                                  >

                                                  </div>
                                                </div>
                                              </div>
                                            {{/each}}

                                            {{! level 4 end }}
                                          </div>
                                        </div>
                                      {{/if}}

                                      {{#if groups}}
                                        <div
                                          class='card my-2'
                                        >
                                          <div
                                            class='card-header'
                                          >
                                            <h6>Groups</h6>
                                          </div>
                                          <div
                                            class='card-body row'
                                          >
                                            {{#each groups}}
                                              {{> fbGroupCard groupItem=this}}
                                            {{/each}}

                                          </div>
                                        </div>
                                      {{/if}}

                                    </div>
                                  </div>
                                </div>
                              {{/each}}
                              {{! level 3 end }}
                            </div>
                          </div>
                        {{/if}}

                        {{#if groups}}
                          <div class='card my-2'>
                            <div class='card-header'>
                              <h5>Groups</h5>
                            </div>
                            <div class='card-body'>
                              {{#each groups}}
                                {{> fbGroupCard groupItem=this}}
                              {{/each}}

                            </div>
                          </div>
                        {{/if}}

                      </div>
                    </div>
                  </div>
                {{/each}}
                {{! level 2 end }}
              </div>
            </div>
          {{/if}}

          {{#if groups}}
            <div class='card my-2'>
              <div class='card-header'>
                <h4>Groups</h4>
              </div>
              <div class='card-body'>
                {{#each groups}}
                  {{> fbGroupCard groupItem=this}}
                {{/each}}
              </div>
            </div>
          {{/if}}

        </div>
      </div>
    </div>
  {{/each}}
</main>