<main class='m-2'>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Was created by
    {{history.founder}}
    in
    {{history.year}}</p>
  <hr />
  <table class='table'>
    <tr>
      <th>Types</th>
      <td>
        {{#each types}}
          <span class='badge text-bg-info'>{{this}}</span>
        {{/each}}
      </td>
    </tr>
    {{#with syntax}}
      <tr>
        <th>Variables</th>
        <td>
          {{#each variables}}
            <span
              class='badge text-bg-secondary'
            >{{this}}</span>
          {{/each}}
        </td>
      </tr>
      <tr>
        <th>Functions</th>
        <td>
          {{#each functions}}
            <span
              class='badge text-bg-secondary'
            >{{this}}</span>
          {{/each}}
        </td>
      </tr>
      <tr>
        <th>Conditionals</th>
        <td>
          {{#each conditionals}}
            <span
              class='badge text-bg-secondary'
            >{{this}}</span>
          {{/each}}
        </td>
      </tr>
      <tr>
        <th>Loops</th>
        <td>
          {{#each loops}}
            <span
              class='badge text-bg-secondary'
            >{{this}}</span>
          {{/each}}
        </td>
      </tr>
      <tr>
        <th>Classes</th>
        <td>
          {{#each classes}}
            <span
              class='badge text-bg-secondary'
            >{{this}}</span>
          {{/each}}</td>
      </tr>
    {{/with}}
    <tr>
      <th>Features</th>
      <td>
        {{#each features}}
          <span
            class='badge rounded-pill text-bg-success'
          >{{this}}</span>
        {{/each}}
      </td>
    </tr>
    <tr>
      <th>Libraries</th>
      <td>
        {{#each libraries}}
          <span
            class='badge rounded-pill text-bg-warning'
          >{{this}}</span>
        {{/each}}
      </td>
    </tr>
    <tr>
      <th>Tools</th>
      <td>
        {{#each tools}}
          <span
            class='badge rounded-pill text-bg-danger'
          >{{this}}</span>
        {{/each}}
      </td>
    </tr>
  </table>

  <div>
    {{#each community}}
      <button type='button' class='btn btn-outline-info'>
        {{type}}:{{name}}</button>
    {{/each}}
  </div>
</main>