<div>
    {{#with program}}
        {{#with excursion}}
            {{> title data=name big=true}}
            <time datetime={{date}}>{{date}} - {{location.country}}, {{location.city}}</time>
            <br>
            {{> title data="Tour program"}}
            <div>
                <ul>
                    {{#each program}}
                    <li>
                        <details>
                            <summary>{{name}}, {{type}} (duration: {{duration}} hours)</summary>
                            {{#with details}}
                                {{#if museum}}
                                    {{#with museum}}
                                        <br>
                                        <div><strong>{{name}}</strong></div>
                                        <br>
                                        <div>
                                            {{#with location}}
                                            Address: {{address}}, {{city}}, {{country}}
                                            {{/with}}
                                        </div>
                                        <br>
                                        <hr>
                                        <br>
                                        <div>
                                            {{> title data="Exhibits:"}}
                                            <ul>
                                            {{#each exhibits}}
                                                <li>
                                                    <div>
                                                        <b>{{name}}</b>, {{artist}} 
                                                        {{#if audio_guide}}
                                                            (with audio guide)
                                                        {{/if}}
                                                    </div>
                                                    <div><em>{{description}}</em></div>

                                                    <br>
                                                </li>
                                            {{/each}}
                                            </ul>
                                        </div>
                                    {{/with}}
                                    <br>
                                    <hr>
                                    <br>
                                {{/if}}
                                {{#if venue}}
                                    {{#with venue}}
                                        <br>
                                        <div><strong>{{name}}</strong></div>
                                        <br>
                                        <div>
                                            {{#with location}}
                                            Address: {{address}}, {{city}}, {{country}}
                                            {{/with}}
                                        </div>
                                    {{/with}}
                                    <br>
                                    <hr>
                                    <br>
                                    {{> title data="Performers:"}}
                                    <ul>
                                    {{#each performers}}
                                        <li><b>{{name}}</b> (<i>{{type}}</i>)</li>
                                        <br>
                                    {{/each}}
                                    </ul>
                                    <br>
                                    <hr>
                                    <br>
                                {{/if}}
                                {{#with guide}}
                                    <div><strong>Guide:</strong> {{name}} (<em>{{language}}</em>) - Rating: {{rating}}</div>
                                {{/with}}
                                <br>
                                <hr>
                                <br>
                            {{/with}}
                        </details>
                    </li>
                    {{/each}}                  
                </ul>
            </div>
        {{/with}}
    {{/with}}
</div>