<div class="card">
    {{#with heading}}
    <div class="card-body">
        <div class="card">
            {{#with main}}
            <div class="card-body">
                <h1>{{title}}</h1>
                <p>{{text}}</p>
                {{#with button_text}}
                    <div class="btn btn-primary">{{solid}}</div>
                    <br>
                    <br>
                    <br>
                    <div class="btn btn-outline-primary">{{outline}}</div>
                {{/with}}
            </div>
            {{/with}}
        </div>
        <br>
        <div class="card">
            {{#with second}}
            <div class="card-body">
                <h2>{{title}}</h2>
                <p>{{text}}</p>
                {{#with button_text}}
                    <div class="btn btn-secondary">{{solid}}</div>
                    <br>
                    <br>
                    <div class="btn btn-outline-secondary">{{outline}}</div>
                {{/with}}
            </div>
            {{/with}}
        </div>
        <br>
        <div class="card">
            {{#with subblock}}
            <div class="card-body">
                <h3>{{title}}</h3>
                <p>{{text}}</p>
                {{#with button_text}}
                    <div class="btn btn-dark">{{solid}}</div>
                    <br>
                    <br>
                    <div class="btn btn-outline-dark">{{outline}}</div>
                {{/with}}
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}
</div>
<br>
<br>
<div class="card">
    <div class="card-body">
        {{#with nested_display}}
            <div class="display-1">{{title}}</div>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with children_display}}
                        <div class="display-4">{{title}}</div>
                        <p>{{text}}</p>
                        <div class="btn btn-outline-warning">{{button.text}}</div>
                    {{/with}}
                </div>
            </div>
            <br>
            <h6>{{header_text}}</h6>
            <br>
            <div class="btn btn-info">{{button.text}}</div>
            
        {{/with}}
    </div>
</div>
<br>
<br>
<div class="card">
    <div class="card-body">
    {{#with paragraph}}
        <p class="text-uppercase">{{title}}</p>
        <br>
        <p class="text-lowercase">{{text}}</p>
        <br>
        {{#with button}}
            <a href={{url}} class="btn btn-link">{{text}}</a>
        {{/with}}
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <ul>
                {{#each list_name}}    
                    <li><a href={{url}} class="btn btn-link">{{text}}</a></li>
                    <br>
                {{/each}}
                </ul>
            </div>
        </div>
    {{/with}}
    </div>
</div>