<main class='m-2'>
  <div>
    {{#with web}}
      {{#each languages}}
        <div class='card my-2'>
          <div class='card-header'>
            <h4>{{name}}</h4>
            (<i>{{version}}</i>)
            <p>{{description}}</p>
          </div>
          <div class='card-body'>
            {{#if elements}}
              <table class='table'>
                <tr>
                  <th>Tag</th>
                  <th>Description</th>
                  <th>Attributes</th>
                </tr>
                {{#each elements}}
                  <tr>
                    <th>{{name}}</th>
                    <td>{{description}}</td>
                    <td>
                      <ul>
                        {{#each attributes}}
                          <li>
                            {{name}}
                            -
                            {{description}}
                          </li>
                        {{/each}}
                      </ul>
                    </td>
                  </tr>
                {{/each}}
              </table>
            {{/if}}
            {{#if properties}}
              <table class='table'>
                <tr>
                  <th>Properties</th>
                  <th>Description</th>
                  <th>Values</th>
                </tr>
                {{#each properties}}
                  <tr>
                    <th>{{name}}</th>
                    <td>{{description}}</td>
                    <td>
                      <ul>
                        {{#each values}}
                          <li>
                            {{value}}
                            -
                            {{description}}
                          </li>
                        {{/each}}
                      </ul>
                    </td>
                  </tr>
                {{/each}}
              </table>
            {{/if}}
            {{#if functions}}
              <table class='table'>
                <tr>
                  <th>Functions</th>
                  <th>Description</th>
                  <th>Values</th>
                </tr>
                {{#each functions}}
                  <tr>
                    <th>{{name}}</th>
                    <td>{{description}}</td>
                    <td>
                      <ul>
                        {{#each parameters}}
                          <li>
                            {{name}}
                            ({{type}}) -
                            {{description}}
                          </li>
                        {{/each}}
                      </ul>
                    </td>
                  </tr>
                {{/each}}
              </table>
            {{/if}}
          </div>
        </div>
      {{/each}}
    {{/with}}
  </div>
</main>