{{#with footer}}
  <footer>
    <hr>
    <div class="text-center my-4">
      {{#with social}}
      <div class="btn btn-primary m-2" href="email.href">
        <i class="bi bi-envelope-at"> {{email.text}}</i> 
      </div>
      <div class="btn btn-success m-2" href="phone.href">
        <i class="bi bi-telephone"> {{phone.text}}</i> 
      </div>
      <div class="btn btn-outline-primary m-2" href="linkedin.href">
        <i class="bi bi-linkedin"> {{linkedin.text}}</i> 
      </div>
      {{/with}}
    </div>
        
    <div class="text-end">
      <em><i class="bi bi-c-circle"></i> Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
    </div>
    <div class="text-end">
      <em>{{../header.address}}</em>
    </div>
        
  </footer>
{{/with}}       